.vheight-100 {
  min-height: 85vh;
}

.width-100 {
  min-width:100%;
}

.below-nav {
  padding-top: 5rem;
}

.dashboard {
  padding-top: 5rem;
  background-color: #17a2b8;
}

.toolbar {
  background-color: #17a2b8;
  padding: 2rem;
  border-radius: 2rem;
  height: 38rem;
  max-width:100%;
  margin-bottom: 1rem;
}


.groupButton {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navText{
  color:blueviolet;
}

.nav{
  overflow: hidden;
}

.genCard{
  /* width: 38rem; */
  max-width: 100%;
  height: 38rem;
  margin-bottom: 1rem;
  border-radius: 4rem;
}

.generator{
  overflow: hidden;
}

.canvas {
  height: 100%;
  width: 100%;
}

#prev{
  width: 40%;
}

#next{
  width: 40%;
}


