.vheight-100 {
  min-height: 85vh;
}

.width-100 {
  min-width:100%;
}

.below-nav {
  padding-top: 5rem;
}

.dashboard {
  padding-top: 5rem;
  background-color: #17a2b8;
  overflow-x: hidden;
}

.toolbar {
  background-color: #17a2b8;
  color:B;
  padding: 2rem;
  border-radius: 2rem;
  height: 38rem;
  max-width:100%;
  margin-bottom: 1rem;
}


.groupButton {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navText{
  color:blueviolet;
}

.nav{
  overflow: hidden;
}

.genCard{
  /* width: 38rem; */
  max-width: 100%;
  height: 38rem;
  margin-bottom: 1rem;
  border-radius: 2rem!important;
}

.generator{
  overflow: hidden;
  min-height: 100vh;
}

.canvas {
  height: 100%;
  width: 100%;
}

.alert {
  margin-top: -2rem;
}

#prev{
  width: 40%;
}

#next{
  width: 40%;
}

#doneButton{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

#option1{
  font-family: "Arial", sans-serif;
}
#option2{
  font-family: "Lucida Handwriting", cursive;
}
#option3{
  font-family: "Copperplate", fantasy;
}
#option4{
  	font-family: "Courier New", monospace;
}
#option5{
  font-family: "Lucida Console", monospace;
}
#option6{
  font-family: "Times New Romam", Times, serif;
}

.pink{
  background-color: #ffeff1;
  /* background-color: #d4d1f1; */
}

.dashcard{
  background-color: #ffeff1!important;
  border-radius: 2rem!important;
}
.logCard{
  /* background-color: #d1ecf1!important; */
  /* background-color: #ffeff1!important; */
  background-color: #17a2b8!important;
  width: 25rem;
  border-radius: 2rem!important;
}

.logImg{
  width: 18rem;
  height: 15rem;
  border-radius: 1rem;
}

.loginPage{
  /* background-color: #ffeff1!important; */
  min-height: 100vh;
  min-width: 100%;
  overflow-y: hidden;
}

.button{
  border-radius: 2rem!important;
}

.meme{
  height: 30rem;
}

@media screen and (max-width: 992px){
  .meme{
    height: 30rem;
  }
}

@media screen and (max-width: 600px){
  .meme{
    height: 20rem;
  }
}